@font-face {
    font-family: eightbit-thin;
    src: url(../../fonts/DisposableDroidBB.otf);
}

.feed {
    font-family: eightbit-thin, Verdana, Geneva, Tahoma, sans-serif;
    border: thick solid #555;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.feed-title {
    font-size: 20;
    font-weight: bold;
    text-align: left;
}

.feed-item {
    text-align: left;
    padding: 3px;
}
