@font-face {
    font-family: eightbit;
    src: url(../../fonts/SHPinscher-Regular.otf);
}
@font-face {
    font-family: audio;
    src: url(../../fonts/ll_record.ttf);
}

.container {
    max-width: 500px;
    margin: 0 auto;
}
.player {
    font-family: eightbit, 'Courier New', Courier, monospace;
    background-color: #555555;
    color: white;
}

.play {
    display: grid;
    grid-template-columns: 20px 50px auto 20px;
    grid-template-rows: auto;
    text-align: left;
}
.playing-title {
    font-size: 20;
    font-weight: bold;
}
.song-title {
    font-size: 40px;
}
.progress-bar {
    padding: 10px;
}
.progress-bar .bar {
    width: 10%;
    background-color: white;
    height: 20px;
}

/* icons */
.audio {
    font-family: audio;
    font-style: normal;
}
.main-button {
    font-size: 50px;
    color: white;
    grid-column-start: 2;
}
.play-button::after {
    content: "d";
}
.pause-button::after {
    content: "k";
}